* {
  box-sizing: border-box;
}

/* here is the color and size for my h1 tag */
h1 {
  color: #837D8C;
  font-size: 50px;
}

/* background color for header */
header {
  background-color: #ffcad4;
  text-align: center;
}

/* color, size, font, text-align for h2 and h3 */
h2, h3 {
  text-align: center;
  color: #9d97b6;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

main {
  text-align: center;
  margin: 25px;
  width: auto;
  padding: 25px;

}

ul {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #8e9aaf;
}

/* font, size, and color for the text in the paragraph tags */
p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #8e9aaf;
}

.center {
  text-align: center;
}

/* this brings the list bullets/numbers in closer together*/
.list {
  margin: 0 auto;
  width: 250px;
  padding: 10px;
}

body {
  background-color: #dad2d8;
}

article {
  background-color:#F4E8E2;
}

/* this makes the edges of the boxes rounder */
.round {
  border-radius: 50px;
  width: 95%;
  padding: 5px;
  margin: 30px 30px;
  text-align: center; 
}

/* the image is sized to be smaller than its full size */
img {
  width: 45%;
  height: 45%;
}

container {
  align: center;
  display: inline-block;
}

/* these are the psuedo classes that dictate the colors of my links */
a:link {
  color:#73a942; 
  }
a:visited {
  color: #bdb2ff;
  }
a:hover {
  color: #ffc6ff;
  }
a:active {
  color: #02c39a; 
  }
